$small: 414px;
$medium: 768px;
$large: 1024px;
$xlarge: 1280px;
$xxlarge: 1400px;

/* header */
$header-height: 80px;

/* border style */
$border-color:#e7e7e7;

/* error or danger or attention style */
$attention-color: rgb(179, 2, 2);

/* text style */
$light-color: #8f8f8f;
$light-bg: #f3f3f3;

/* box-shadow style */
$box-shadow:0 0 15px 2px rgb(0 0 0 / 27%);